#Ignore these directories
core/alljoyn/core/alljoyn/build/**/*
core/alljoyn/core/alljoyn/common/build/**/*
core/alljoyn/core/alljoyn/services/about/build/**/*
core/alljoyn/services/base/services_common/build/**/*
core/alljoyn/services/base/notification/build/**/*
core/alljoyn/services/base/controlpanel/build/**/*
core/alljoyn/services/base/config/build/**/*
core/alljoyn/services/base/onboarding/build/**/*
logs/**/*
